body {
    background-color: rgb(106,114,226);
    font-family: cursive;
    font-variant: small-caps;
    
}

.main{
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
}
#container{
    display: flex;
    flex-direction: row;
    width: 500px;
    height: 500px;
    flex-wrap: wrap;
    overflow: hidden;
    border: 10px rgb(182,99,175) solid;
    border-radius: 5px;
}

#settings {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 50px;
    padding-top: 10px;
}

button, #favcolor{
    width: 100px;
    height: 50px;
    border: 5px rgb(182,99,175) solid;
    border-radius: 5px;
    background-color: rgb(106,114,226);
    font-size: large;
}

#favcolor {
    border: none;
}
.rainbow-label {
    width: 100px;
    height: 50px;
    border: 5px rgb(182,99,175) solid;
    border-radius: 5px;
    background-color: rgb(106,114,226);
    font-size: large;
    margin: 0;
}

.heading {
    display: flex;
    justify-content: center;
    font-size: 50px;
    margin: 50px;
    padding-left: 150px;
}

